@charset "UTF-8";
/*========================== */
/*=============================== */
/*=========== Mixins externos ===================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0; }

hr {
  color: #8ec44f; }

body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif; }

/*========== Desde Cero ================================= */
a {
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease; }

.zero-grid {
  width: 1024px; }

.menu_bar {
  display: none; }

#contenido_menu {
  background-color: #474b4d;
  margin: 0px auto;
  width: 100%; }

section {
  width: 100%;
  margin: 0px auto; }

/*================================= */
aside .entradas_recientes {
  padding: 20px;
  list-style: none;
  font-family: "quattrocento_sansregular"; }
  aside .entradas_recientes a {
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    color: #00bbd3;
    line-height: 1.5em;
    text-decoration: none; }
    aside .entradas_recientes a:hover {
      color: #8ec44f; }
  aside .entradas_recientes .widget {
    list-style: none; }
  aside .entradas_recientes h2 {
    color: #8ec44f;
    padding: 10px 10px 10px 0px;
    font-weight: bold; }
  aside .entradas_recientes .widgettitle {
    color: #8ec44f;
    padding: 10px 10px 10px 0px;
    font-weight: bold; }
  aside .entradas_recientes ul {
    list-style: none; }
    aside .entradas_recientes ul li {
      border-bottom: 1px solid #ffd933;
      padding-bottom: 5px;
      text-decoration: none; }
  aside .entradas_recientes .list {
    padding: 5px;
    margin-bottom: 5px;
    padding-bottom: 9px;
    overflow: hidden;
    border-bottom: 1px solid #00bbd3;
    text-transform: lowercase;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box; }
    aside .entradas_recientes .list a:first-letter {
      text-transform: uppercase; }
    aside .entradas_recientes .list p {
      line-height: 1.5em;
      font-size: 1.2em;
      color: #474b4d;
      font-family: "quattrocento_sansregular";
      text-align: justify;
      margin-top: 8px; }
    aside .entradas_recientes .list .thumb {
      width: 20%; }
      aside .entradas_recientes .list .thumb img {
        height: auto;
        display: inline-block;
        float: left;
        margin-right: 7px;
        width: 90%;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
        border: 2px solid #fff; }
  aside .entradas_recientes .enlace {
    border-bottom: 1px solid #ffd933;
    padding-bottom: 5px;
    text-decoration: none; }

/*================================== */
aside .entradas_recientes .list .thumb img:hover {
  filter: alpha(opacity=50);
  -moz-opacity: 1;
  opacity: 0.5;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  box-shadow: 0 0 8px rgba(0, 120, 240, 0.8);
  -webkit-box-shadow: 0 0 8px rgba(0, 120, 240, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 120, 240, 0.8); }
aside .entradas_recientes .list .title {
  color: #003366;
  line-height: 1.3em;
  font-size: 1.1em;
  text-decoration: none;
  width: 78%;
  text-transform: lowercase; }
  aside .entradas_recientes .list .title:hover {
    color: #8ac249;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease; }
  aside .entradas_recientes .list .title:first-letter {
    text-transform: uppercase; }

/*========================================= */
.contenido .noticias .last {
  margin-top: 20px;
  padding-top: 12px;
  border-top: 1px solid #8ac249; }

.contenido .noticias .last .fecha {
  color: #fff;
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%; }

.contenido .noticias .last .list {
  padding: 5px;
  margin-bottom: 20px;
  padding-bottom: 12px;
  overflow: hidden;
  border-bottom: 1px solid #8ac249;
  text-transform: lowercase;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%; }
.contenido .noticias .last .fecha span {
  width: 50%; }
.contenido .noticias .last .fecha .label2 {
  background-color: #474b4d;
  height: 60px;
  width: 45%;
  font-size: 14px;
  padding: 4px 5px 4px 3px;
  text-align: center; }
.contenido .noticias .last .fecha .label1 {
  background-color: #ffd933;
  height: 60px;
  width: 45%;
  font-size: 14px;
  padding: 4px 5px 4px 10px;
  text-align: center;
  color: #474b4d; }

/*=============================== */
.contenido .noticias .last .thumb {
  width: 20%;
  padding-bottom: 12px;
  margin-right: 5px; }
  .contenido .noticias .last .thumb img {
    height: auto;
    display: inline-block;
    float: left;
    margin-right: 7px;
    width: 90%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    border: 2px solid #fff; }
    .contenido .noticias .last .thumb img:hover {
      filter: alpha(opacity=50);
      -moz-opacity: 1;
      opacity: 0.5;
      transition: 0.5s ease;
      -o-transition: 0.5s ease;
      -webkit-transition: 0.5s ease;
      box-shadow: 0 0 8px rgba(0, 120, 240, 0.8);
      -webkit-box-shadow: 0 0 8px rgba(0, 120, 240, 0.8);
      -moz-box-shadow: 0 0 8px rgba(0, 120, 240, 0.8); }

.contenido .noticias .last .title {
  color: #003366;
  line-height: 1.3em;
  font-size: 1.1em;
  text-decoration: none;
  width: 78%;
  text-transform: lowercase; }

/*============================ */
.contenido .noticias .last .title:hover {
  color: #8ac249;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease; }
.contenido .noticias .last .title:first-letter {
  text-transform: uppercase; }

/*================================ */
.contenido {
  clear: both;
  margin: 0px auto;
  max-width: 1024px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px; }
  .contenido .noticias {
    padding: 20px 10px 20px 10px;
    width: 66%;
    vertical-align: top;
    line-height: 1.6;
    font-size: 18px;
    color: #474b4d;
    font-family: "quattrocento_sansregular"; }
    .contenido .noticias h2 {
      color: #8ec44f;
      line-height: 1.8em;
      margin: 0px;
      padding: 0px; }
    .contenido .noticias h3 {
      color: #8ec44f;
      line-height: 1.8em;
      margin: 0px;
      padding: 0px; }
    .contenido .noticias .total {
      width: 100%;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #333333; }
      .contenido .noticias .total:nth-last-child(1) {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none; }
    .contenido .noticias h1 {
      color: #00bbd3;
      line-height: 1.3em;
      font-size: 1.9em;
      margin: 0px;
      padding: 0px; }
    .contenido .noticias p {
      text-align: justify;
      font-size: 1.1em;
      display: block;
      line-height: 1.5em; }
    .contenido .noticias .descripcion_categoria {
      padding: 10px;
      width: 100%;
      display: flex;
      list-style: none;
      padding: 20px;
      color: #00bbd3;
      text-align: left;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #8ec44f; }
      .contenido .noticias .descripcion_categoria .icon {
        padding: 0px 10px 0px 10px; }
      .contenido .noticias .descripcion_categoria ul {
        list-style: none; }
    .contenido .noticias strong {
      color: #474b4d;
      font-weight: bold; }
    .contenido .noticias .titulo_noticias {
      border-bottom: 1px solid #ffd933;
      margin: 0px 0px 20px 0px;
      padding: 0px; }
      .contenido .noticias .titulo_noticias h2 {
        color: #8ec44f; }
      .contenido .noticias .titulo_noticias h1 {
        color: #8ec44f; }

/*====================== */
.contenido .interiores a,
.contenido .noticias a {
  font-weight: bold;
  color: #00bbd3; }

.contenido .interiores h2,
.contenido .noticias h2 {
  font-weight: bold;
  color: #8ec44f;
  font-size: 1.5em; }

.contenido .interiores hr,
.contenido .noticias hr {
  color: #8ec44f; }

.contenido .noticias .alignright {
  margin: 20px 0px 20px 20px;
  float: right; }
.contenido .noticias .alignleft {
  float: left;
  margin: 20px 20px 20px 0px; }
.contenido .noticias .aligncenter {
  margin: 20px auto 20px auto; }
.contenido .noticias img {
  max-width: 100%;
  height: auto;
  margin: 10px;
  padding: 7px;
  box-shadow: 1px 1px 10px #ccc; }

.contenido .interiores h1,
.contenido .noticias h1 {
  font-weight: bold;
  color: #00bbd3;
  font-size: 1.5em; }

.contenido .interiores a:hover,
.contenido .noticias a:hover {
  font-weight: bold;
  color: #8ec44f; }

/*============================== */
.titulo_last {
  border-bottom: 1px solid #8ec44f;
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 10px 0px;
  color: #00bbd3;
  font-weight: bold;
  font-size: 1.5em; }

/*=========================== */
.contenido .interiores {
  width: 66%;
  padding: 20px 10px 20px 10px;
  text-align: justify;
  line-height: 1.6;
  font-size: 18px;
  color: #474b4d;
  font-family: "quattrocento_sansregular"; }
  .contenido .interiores .wpcf7 {
    width: 100%;
    padding: 20px 5px 20px 5px;
    margin: 0px;
    height: 100%; }
    .contenido .interiores .wpcf7 p {
      color: #474b4d;
      display: block;
      width: 100%;
      line-height: 18px;
      font-size: 18px;
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: bold; }

.contenido .interiores .mapeo a {
  color: #8ec44f; }
  .contenido .interiores .mapeo a:hover {
    color: #00bbd3; }

/*=========================================== */
.mapeo {
  width: 100%;
  padding: 20px;
  color: #00bbd3;
  text-align: left;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #8ec44f; }

/*==================================== */
.mapeo .raqadd {
  color: #474b4d;
  margin: 0px 4px 0px 4px; }
.mapeo .raqspace {
  color: #474b4d;
  margin: 0px 4px 0px 4px; }
.mapeo .raqa a {
  color: #8ec44f;
  margin: 0px 4px 0px 0px; }
  .mapeo .raqa a:hover {
    color: #00bbd3;
    margin: 0px 4px 0px 0px; }
.mapeo .raq {
  margin: 0px 4px 0px 0px;
  color: #474b4d; }

/*========================================== */
.contenido .interiores input[type=text],
.contenido .interiores input[type=email],
.contenido .interiores input[type=date],
.contenido .interiores textarea {
  width: 62%;
  padding: 7px 10px 4px 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #003366;
  text-shadow: 1px 1px 0 white;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

/*========================================= */
.contenido .interiores input[type=text]:focus,
.contenido .interiores input[type=email]:focus,
.contenido .interiores input[type=date]:focus,
.contenido .interiores textarea:focus {
  position: relative;
  bottom: -1px;
  box-shadow: inset 0 1px 6px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: inset 0 1px 6px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: inset 0 1px 6px rgba(255, 255, 255, 0.75);
  color: #003366; }

/*========================================= */
.contenido .interiores input[type=submit]:focus {
  position: relative;
  bottom: -1px;
  background: #56c2e1;
  box-shadow: inset 0 1px 6px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: inset 0 1px 6px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: inset 0 1px 6px rgba(255, 255, 255, 0.75); }
.contenido .interiores input[type=submit]:hover {
  background: #f1e767;
  border: 1px solid rgba(255, 255, 255, 0.75);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  color: #000; }
.contenido .interiores input[type=submit] {
  width: 50%;
  padding: 4px 10px 4px 10px;
  font-family: "Bree Serif", serif;
  font-weight: 300;
  font-size: 18px;
  color: #003366;
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.25);
  background: #ffcc00;
  border: 1px solid #ffcc00;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.75); }

/*================================= */
.noticias .entradas-noticias {
  display: flex; }
  .noticias .entradas-noticias .fecha {
    width: 60px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold; }
    .noticias .entradas-noticias .fecha span {
      width: 60px;
      margin: 0px auto;
      padding-right: 10px;
      padding-left: 10px;
      overflow: hidden; }
    .noticias .entradas-noticias .fecha .label2 {
      background-color: #474b4d;
      height: 30px;
      width: 60px;
      font-size: 14px;
      padding: 4px 5px 4px 3px;
      text-align: center;
      display: block;
      clear: both;
      float: left;
      overflow: hidden; }
    .noticias .entradas-noticias .fecha .label1 {
      background-color: #ffd933;
      height: 60px;
      width: 60px;
      padding-top: 40%;
      display: block;
      clear: both; }
.noticias .entradas-noticias {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #333333; }
  .noticias .entradas-noticias:nth-last-child(1) {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none; }
.noticias .actualidad {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #333333; }

/*=========================================== */
.entradas-noticias .contenido {
  line-height: 1.6;
  font-size: 18px;
  color: #474b4d;
  font-family: "quattrocento_sansregular"; }
  .entradas-noticias .contenido h1, .entradas-noticias .contenido h2 {
    color: #333333; }
  .entradas-noticias .contenido p {
    text-align: justify; }
  .entradas-noticias .contenido h2 a {
    font-weight: bold;
    color: #00bbd3; }
    .entradas-noticias .contenido h2 a:hover {
      color: #8ec44f; }
  .entradas-noticias .contenido a {
    color: #333333;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease; }
    .entradas-noticias .contenido a img {
      box-shadow: 1px 1px 10px #ccc;
      margin: 0px 0px 0px 0px;
      padding: 5px; }
    .entradas-noticias .contenido a img:hover {
      box-shadow: 1px 1px 10px #8ec44f; }

/*============================================== */
.contenido .redes {
  width: 33%;
  padding: 10px; }
  .contenido .redes iframe {
    margin: 0;
    padding: 0;
    width: 100%; }

/*==================================== */
.player-seccions {
  margin: 0px auto;
  max-width: 1024px;
  height: auto;
  background-color: #f5f5f5;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 5px 15px 5px; }
  .player-seccions .seccions {
    width: 50%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease; }
    .player-seccions .seccions .secciones {
      width: 180px;
      background-color: #8ec44f;
      flex-grow: 1;
      display: block;
      margin: 10px;
      text-align: center;
      vertical-align: middle;
      align-items: center;
      justify-content: center;
      display: flex;
      color: #fff;
      text-decoration: none;
      font-family: "quattrocento_sansregular";
      text-transform: uppercase;
      font-size: 14px;
      padding: 10px;
      transition: 0.5s ease;
      -o-transition: 0.5s ease;
      -webkit-transition: 0.5s ease;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
      -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
      -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8); }
      .player-seccions .seccions .secciones h2 {
        font-size: 1.2em; }
    .player-seccions .seccions .seccions_2 {
      background-color: #8ec44f;
      padding-left: 3px; }
      .player-seccions .seccions .seccions_2:hover {
        background-color: #00bbd3; }
    .player-seccions .seccions .seccions_1 {
      background-color: #fec006;
      padding-left: 3px; }
      .player-seccions .seccions .seccions_1:hover {
        background-color: #8ec44f; }
    .player-seccions .seccions .seccions_3 {
      background-color: #00bbd3;
      padding-left: 3px; }
      .player-seccions .seccions .seccions_3:hover {
        background-color: #fec006; }
    .player-seccions .seccions .seccions_4 {
      background-color: #fec006;
      padding-left: 3px; }
      .player-seccions .seccions .seccions_4:hover {
        background-color: #8ec44f; }
  .player-seccions .player {
    width: 50%;
    padding: 0px;
    margin: 0px;
    background-color: #333333; }
    .player-seccions .player::after {
      color: #fff;
      content: "Cargando television en vivo...."; }
    .player-seccions .player iframe {
      width: 100%;
      height: 415px;
      padding: 0px;
      margin: 0px; }

/*============================ */
footer {
  width: 100%;
  margin: 0px auto;
  background-color: #00bbd3;
  min-height: 200px;
  padding: 20px 0px 20px 0px;
  font-family: "quattrocento_sansregular"; }
  footer .group {
    max-width: 1024px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding-top: 12px; }
    footer .group #desarrollado {
      width: 45%;
      color: #fff; }
      footer .group #desarrollado a {
        width: 45%;
        color: #ffd933;
        font-weight: bold;
        transition: 0.5s ease;
        -o-transition: 0.5s ease;
        -webkit-transition: 0.5s ease; }
        footer .group #desarrollado a:hover {
          width: 45%;
          color: #fff; }
    footer .group #direccion {
      width: 45%;
      color: #fff; }
  footer .footer-slogan {
    text-align: center;
    font-size: 2em;
    color: #fff;
    max-width: 1024px;
    padding-bottom: 25px;
    margin: 0px auto;
    font-weight: bold;
    font-style: italic; }

/*================== */
#totop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 40px;
  margin-left: 640px;
  overflow: hidden;
  width: 43px;
  height: 28px;
  border: none;
  text-indent: -999px;
  z-index: 20;
  background: url("../images/totop.png") no-repeat left 0;
  transition: 0s ease;
  -o-transition: 0s ease;
  -webkit-transition: 0s ease; }
  #totop:hover {
    outline: none;
    background-position: right 0; }

header {
  width: 100%;
  background-color: cyan; }
  header .ca-cabecera {
    width: 100%; }
    header .ca-cabecera .ca-logo-slogan {
      background-color: green;
      width: 100%; }
      header .ca-cabecera .ca-logo-slogan .logo-link:hover {
        opacity: 0.7;
        filter: alpha(opacity=70); }
      header .ca-cabecera .ca-logo-slogan .logo-link img {
        vertical-align: top;
        width: auto;
        height: 150px; }
    header .ca-cabecera .ca-search-followers {
      width: auto;
      max-height: 150px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 20px;
      background-color: red; }
      header .ca-cabecera .ca-search-followers .buscador {
        width: 75%; }
      header .ca-cabecera .ca-search-followers .cuadro-redes {
        width: 20%;
        margin-left: 4px;
        display: flex;
        justify-content: space-between;
        padding: 6px;
        color: #474b4d; }
        header .ca-cabecera .ca-search-followers .cuadro-redes a {
          text-decoration: none;
          transition: 0.5s ease;
          -o-transition: 0.5s ease;
          -webkit-transition: 0.5s ease; }
        header .ca-cabecera .ca-search-followers .cuadro-redes .yt {
          color: #474b4d;
          width: 100px;
          padding: 10px; }
          header .ca-cabecera .ca-search-followers .cuadro-redes .yt:hover {
            color: #8ec44f; }
        header .ca-cabecera .ca-search-followers .cuadro-redes .fb {
          color: #474b4d;
          width: 100px;
          padding: 10px; }
          header .ca-cabecera .ca-search-followers .cuadro-redes .fb:hover {
            color: #8ec44f; }
        header .ca-cabecera .ca-search-followers .cuadro-redes .tw {
          color: #474b4d;
          width: 100px;
          padding: 10px; }
          header .ca-cabecera .ca-search-followers .cuadro-redes .tw:hover {
            color: #8ec44f; }

/*=========== Nuevo ================== */
/*=================================== */
/*============================== */
#cabecera {
  width: 100%; }

#cabecera-contenedor {
  max-width: 1024px;
  background-color: blue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px auto;
  align-items: center;
  padding: 20px; }
  #cabecera-contenedor #cc-logo-slogan {
    width: 50%;
    vertical-align: top;
    display: flex; }
    #cabecera-contenedor #cc-logo-slogan .logo-link {
      height: 150px;
      overflow: hidden; }
      #cabecera-contenedor #cc-logo-slogan .logo-link:hover {
        opacity: 0.7;
        filter: alpha(opacity=70); }
      #cabecera-contenedor #cc-logo-slogan .logo-link img {
        display: block;
        vertical-align: top;
        width: auto;
        height: 150px; }
    #cabecera-contenedor #cc-logo-slogan .slogan {
      line-height: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 16px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold; }
      #cabecera-contenedor #cc-logo-slogan .slogan:hover {
        color: #00bbd3; }
      #cabecera-contenedor #cc-logo-slogan .slogan .one {
        color: #ffd933;
        font-size: 42px;
        transition: 0.5s ease;
        -o-transition: 0.5s ease;
        -webkit-transition: 0.5s ease; }
      #cabecera-contenedor #cc-logo-slogan .slogan .two {
        color: #474b4d;
        font-size: 30px;
        margin-top: 4px;
        transition: 0.5s ease;
        -o-transition: 0.5s ease;
        -webkit-transition: 0.5s ease; }
      #cabecera-contenedor #cc-logo-slogan .slogan span {
        font-family: "monofontoregular";
        transition: 0.5s ease;
        -o-transition: 0.5s ease;
        -webkit-transition: 0.5s ease; }
        #cabecera-contenedor #cc-logo-slogan .slogan span:hover {
          color: #00bbd3;
          transition: 0.5s ease;
          -o-transition: 0.5s ease;
          -webkit-transition: 0.5s ease; }
  #cabecera-contenedor #cc-search-followers {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #cabecera-contenedor #cc-search-followers .buscador {
      width: 75%; }
    #cabecera-contenedor #cc-search-followers .cuadro-redes {
      width: 20%;
      margin-left: 4px;
      display: flex;
      justify-content: space-between;
      padding: 6px;
      color: #474b4d; }
      #cabecera-contenedor #cc-search-followers .cuadro-redes a {
        text-decoration: none;
        transition: 0.5s ease;
        -o-transition: 0.5s ease;
        -webkit-transition: 0.5s ease; }
      #cabecera-contenedor #cc-search-followers .cuadro-redes .yt {
        color: #474b4d;
        width: 100px;
        padding: 10px; }
        #cabecera-contenedor #cc-search-followers .cuadro-redes .yt:hover {
          color: #8ec44f; }
      #cabecera-contenedor #cc-search-followers .cuadro-redes .fb {
        color: #474b4d;
        width: 100px;
        padding: 10px; }
        #cabecera-contenedor #cc-search-followers .cuadro-redes .fb:hover {
          color: #8ec44f; }
      #cabecera-contenedor #cc-search-followers .cuadro-redes .tw {
        color: #474b4d;
        width: 100px;
        padding: 10px; }
        #cabecera-contenedor #cc-search-followers .cuadro-redes .tw:hover {
          color: #8ec44f; }

input[type="text"],
input[type="tel"],
input[type="number"],
input[type="email"] {
  box-sizing: border-box;
  padding: 7px 10px;
  color: #333333;
  font-size: 0.9em;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #8ac249;
  font-weight: 300; }
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus {
    color: #00bbd3;
    border: 1px solid #8ac249; }

textarea {
  box-sizing: border-box;
  padding: 7px 10px;
  color: #8ac249;
  font-size: 0.9em;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #8ac249;
  font-weight: 300; }

input[type="submit"],
input[type="button"],
button[type="submit"] {
  box-sizing: border-box;
  box-sizing: border-box;
  padding: 7px 10px;
  color: #8ac249;
  font-size: 0.9em;
  background: none;
  border-radius: 5px;
  border: none;
  font-weight: 300;
  cursor: pointer; }
  input[type="submit"]:hover,
  input[type="button"]:hover,
  button[type="submit"]:hover {
    color: #00bbd3; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  color: #b20013;
  font-weight: 600; }

header nav {
  max-width: 1024px;
  margin: 20px auto;
  background: #ffd933;
  padding: 0px 0px 3px 0px;
  -webkit-box-shadow: 0 10px 25px 0 #474b4d;
  box-shadow: 0 10px 25px 0 #474b4d; }
  header nav ul {
    overflow: hidden;
    list-style: none; }
    header nav ul li {
      float: left; }
      header nav ul li a {
        color: #474b4d;
        padding: 36px 20px 36px 20px;
        display: block;
        text-decoration: none;
        font-family: "Myriad Pro";
        transition: 0.5s ease;
        -o-transition: 0.5s ease;
        -webkit-transition: 0.5s ease; }
        header nav ul li a:hover {
          background: #ffffff; }
      header nav ul li span {
        margin-right: 10px; }

.menu_bar {
  display: none; }

.navigation {
  background-color: #8ec44f;
  padding: 7px;
  width: 100%; }
  .navigation .pagenavi {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    .navigation .pagenavi a {
      border-radius: 3px; }
      .navigation .pagenavi a:last-child {
        color: #fff;
        padding: 3px;
        margin-left: 7px;
        transition: 0.5s ease; }
      .navigation .pagenavi a:nth-child(2) {
        color: #fff;
        padding: 3px;
        margin-right: 7px; }
      .navigation .pagenavi a:hover {
        transition: 0.5s ease;
        color: #333333; }
    .navigation .pagenavi .pages {
      padding: 4px;
      margin-left: 4px;
      margin-right: 10px;
      color: #fff;
      width: 100%;
      text-align: center; }
      .navigation .pagenavi .pages a {
        padding: 4px;
        margin: 4px; }
      .navigation .pagenavi .pages:last {
        content: ">>"; }
    .navigation .pagenavi .last {
      padding: 4px;
      background-color: #333333;
      color: #ffd933;
      margin: 4px;
      border-radius: 3px; }
      .navigation .pagenavi .last:hover {
        background-color: #fff;
        transition: 0.5s ease; }
    .navigation .pagenavi .current {
      padding: 4px;
      background-color: #ffd933;
      color: #333333;
      margin: 4px; }
    .navigation .pagenavi .first {
      padding: 4px;
      background-color: #333333;
      color: #ffd933;
      margin: 4px;
      border-radius: 3px; }
      .navigation .pagenavi .first:hover {
        background-color: #fff;
        transition: 0.5s ease; }
    .navigation .pagenavi .single_page {
      padding: 4px;
      background-color: #333333;
      color: #ffd933;
      margin: 4px;
      border-radius: 3px; }
      .navigation .pagenavi .single_page:hover {
        background-color: #fff;
        transition: 0.5s ease; }
    .navigation .pagenavi span {
      border-radius: 3px; }

/* Landscape phones and down = anchura menores a 480px  NOBOOTSTRAP */
@media (max-width: 480px) {
  header {
    background-color: red; }
    header .ca-cabecera {
      width: 100%; }
      header .ca-cabecera .ca-logo-slogan {
        background-color: magenta; } }
/* Landscape phone to portrait tablet = anchura menor a 767px  NOBOOTSTRAP */
@media (min-width: 480px) and (max-width: 767px) {
  header {
    background-color: orange; }
    header .ca-cabecera {
      width: 100%; }
      header .ca-cabecera .ca-logo-slogan {
        background-color: blue; } }
/* Dispositivos peque├▒os (tablets, anchura mayor o igual a 768px) */
@media (min-width: 768px) {
  header {
    background-color: yellow; }
    header .ca-cabecera {
      width: 100%; }
      header .ca-cabecera .ca-logo-slogan {
        background-color: brown; } }
/* Portrait tablet to landscape and desktop = anchura de 768px  a 979px NOBOOTSTRAP */
@media (min-width: 768px) and (max-width: 979px) {
  header {
    background-color: pink; }
    header .ca-cabecera {
      width: 100%; }
      header .ca-cabecera .ca-logo-slogan {
        background-color: gray; } }
/* Dispositivos medianos (ordenadores, anchura mayor o igual a 992px) */
/* Large desktop */
/* Dispositivos grandes (ordenadores, anchura mayor o igual a 1200px) */

/*# sourceMappingURL=theme.css.map */
