.con-cpts
	.con
		img
			max-width: 100%
			height: auto
		.alignleft
			float: left
			margin: 20px 20px 20px 0px
		.alignright
			float: right
			margin: 20px 0px 20px 20px
		.aligncenter
			width: 100%
			height: auto
			margin: 5px auto
		.interiores
			line-height: 1.625em
			font-size: 1.0625em
			color: $gris
			font-family: 'Open Sans', sans-serif
			h1
				color: $celeste
			h2
				color: $verde
			a
				color: $celeste
				&:hover
					color: $verde
					@include transicion_a()
		.titulo
			.mapeo
			@include mapeo()
.con-cpts
	.con
		box-sizing: border-box
		.cuadro-cpts
			display: flex
			flex-direction: row
			flex-wrap: wrap
			box-sizing: border-box
			.contenido
				width: calc(var(--sizem)/3)
				box-sizing: border-box
				display: flex
				flex-wrap: wrap
				flex-direction: row
				.title
					font-size: 1.2em
					font-family: $fontos
					color: $celeste
					text-align: center
					width: var(--sizem)
					margin-bottom: 6px
					text-decoration: none
					transition: 0.5s ease
					&:hover
						color: $verde
						transition: 0.5s ease
				.date-cat
					padding: 10px
					.fecha
						font-family: $fontos
						font-size: 0.9em
						color: $blanco
						.icon-date
							color: $gris
							margin-right: 6px
						span
							width: 50%
						.label2
							background-color: $gris
							height: 60px
							width: 45%
							font-size: 14px
							padding: 4px 5px 4px 3px
							text-align: center
							vertical-align: middle
						.label1
							background-color: $yema
							height: 60px
							width: 45%
							font-size: 14px
							padding: 4px 5px 4px 10px
							text-align: center
							vertical-align: middle
							color: $gris
					.descripcion_categoria
						font-family: $fontos
						font-size: 0.9em
						float: right
						text-align: right
						color: $azul
						.icon-file
							margin-right: 5px
							color: $verde
						a
							color: $gris
							&:hover
								color: $celeste
				.thumb
					padding: 5px
					img
						width: 100%
						height: auto
						transition: 0.5s ease
						&:hover
							filter: alpha(opacity=50)
							-moz-opacity: 1.0
							opacity: 0.5
							-khml-opacity: 1.0
							transition: 0.5s ease
							box-shadow: 0 0 8px rgba(0, 120, 240, 0.8)
				.info
					padding: 5px 10px 10px 10px
					line-height: 1.625em
					font-size: 1.0625em
					color: #302f2f
					font-family: $fontopen
					h1
						color: $celeste
					h2
						color: $verde
	.side
		@include sidebar()
