/*==== Esto es para el pamaña 320 ====*/
@media only screen and (max-width 479px) 
	
	#page-wrap
		flex-direction column
	
	
	#cabecera-contenedor


		#cc-logo-slogan
			background-color orange
			width 100%			
			display flex
			justify-content space-between
			align-content space-between
			flex-wrap wrap
			flex-direction row			
			
			
			.logo-link
				width 30%
				
				img
					width 100%
					
			.slogan
				width 60%
				
				.one
					font-size 1.7em
					color red
					
				.two
					font-size 1.7em
					color green
		

		#cc-search-followers
			width 100%
			margin-top 10px
			padding 7px

