@media only screen and (max-width 959px) 

	#page-wrap
		flex-direction column
		max-width t959	
	
	#cabecera-contenedor
		max-width t959


		#cc-logo-slogan
			background-color #333
			display flex
			width 50%
			
			
			.logo-link
				width 30%
				
				img
					width 100%
					
			.slogan
				width 60%
				
				.one
					font-size 1.7em
					color red
					
				.two
					font-size 1.7em
					color green
		

		#cc-search-followers
			width 50%

.player-seccions
	max-width t959
	display flex



	.contenido
		max-width t959
		height auto
		background-color orange
		
		.noticias
			width 100%
		
		.redes
			width 100%