
boxs()
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box

transicion()
  -webkit-transition color .2s ease
  -moz-transition color .2s ease
  -ms-transition color .2s ease
  -o-transition color .2s ease
  transition color .2s ease
  
transicion-2()
	-webkit-transition max-height 0.4s ease-out
	-moz-transition max-height 0.4s ease-out
	-ms-transition max-height 0.4s ease-out
	-o-transition max-height 0.4s ease-out
	transition max-height 0.4s ease-out
transicion-3()
	-webkit-transition height .2s
	-moz-transition height .2s
	-ms-transition height .2s
	-o-transition height .2s
	transition height .2s	


t1024 = 1024px
t959  = 959px
t619  = 619px