
/*
	header nav {
	width:90%;
	max-width:1000px;
	margin:20px auto;
	background:#024959;
}

*/
 
.menu_bar {
	display:none;
}

header nav {
	max-width:1024px;
	margin:20px auto;
	background:#ffd933;
	padding: 0px 0px 3px 0px;
	@include borde_gris();
}
 
 
header nav ul {
	overflow:hidden;
	list-style:none;
}
 
header nav ul li {
	float:left;
}
 
header nav ul li a {
	color:#474b4d;
    padding: 36px 20px 36px 20px;
	display:block;
	text-decoration:none;
    font-family: 'Myriad Pro';
    @include transicion_a();
}
 
header nav ul li span {
	margin-right:10px;
}
 
header nav ul li a:hover {
	background:#ffffff;
}