
@media only screen and (max-width: 479px) {

  #page-wrap {
    flex-direction: column;
  }

  #cabecera-contenedor #cc-logo-slogan {
 /*   background-color: #ffa500;  /*AMARILLO*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom:10px;
  }

  #cabecera-contenedor #cc-logo-slogan .logo-link {
    width: 100%;
  }
  #cabecera-contenedor #cc-logo-slogan .logo-link img {
    width: auto;
    height: 100%;
    margin: 0px auto;
    text-align: center;
  }
  #cabecera-contenedor #cc-logo-slogan .slogan {
    width: 60%;
  }
  #cabecera-contenedor #cc-logo-slogan .slogan .one {
    font-size: 1.7em;
/*    color: #f00;*/
  }
  #cabecera-contenedor #cc-logo-slogan .slogan .two {
    font-size: 1.7em;
/*    color: #008000;*/
  }

  #cabecera-contenedor #cc-search-followers{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
      box-sizing:border-box;
  }

  #cabecera-contenedor #cc-search-followers .buscador{
  margin: 0px auto;
  display: block;
  width: 100%;  
  text-align: center;  
  box-sizing:border-box;
  padding-bottom:10px;  
}
  #cabecera-contenedor #cc-search-followers .cuadro-redes{  
  margin: 0px auto;
  display: block;
  width: 100%;
  text-align: center;
  padding:10px 10px 0px 10px;
  box-sizing:border-box;
}

footer .group{
 flex-direction: column;
 width: 100%;
}


footer .group #direccion{
  width: 100%;
  padding: 10px;
}

footer .group #desarrollo{
  width: 100%;
}

}
