/*========================================================*/

@media screen and (max-width: 619px) {
  #page-wrap {
    flex-direction: column;
  }
  #cabecera-contenedor {
    max-width: 619px;
  }
  #cabecera-contenedor #cc-logo-slogan {
 /*   background-color: #00f;/*  BLUE*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom:10px;
  }

  #cabecera-contenedor #cc-search-followers{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;    
  }

  #cabecera-contenedor #cc-logo-slogan .logo-link {
    width: 100%;
  }
  #cabecera-contenedor #cc-logo-slogan .logo-link img {
    width: auto;
    height: 100%;
    margin: 0px auto;
    text-align: center;
  }

  #cabecera-contenedor #cc-logo-slogan .slogan {
    width: 60%;
  }
  #cabecera-contenedor #cc-logo-slogan .slogan .one {
    font-size: 1.7em;
/*    color: #f00;*/
  }
  #cabecera-contenedor #cc-logo-slogan .slogan .two {
    font-size: 1.7em;
/*    color: #008000;*/
  }
  #cabecera-contenedor #cc-search-followers {
    width: 100%;
    margin-top: 10px;
    padding: 7px;
  }
  .player-seccions {
    max-width: 619px;
    display: flex;
    height: auto;
/*    background-color: #0ff;*/
    background-color: #f5f5f5;
  }
  .player-seccions .player {
    padding: 0px;
    width: 100%;
  }
  .player-seccions .player iframe {
    width: 100%;
    height: 100%;
    min-height: 300px;
  }
  .player-seccions .seccions {
    width: 100%;
  }
  .contenido {
    max-width: 619px;
    height: auto;
    background-color: #fff;
  }
  .contenido .noticias {
    width: 100%;
  }
  .contenido .redes {
    width: 100%;
  }

.contenido .interiores{
  width: 100%;
  text-align: justify;
}


.contenido .interiores .wpcf7{
  width: 100%;
}

.contenido .interiores .wpcf7 p{
  width: 100%;
  color: red;
  padding: 15px 2px 15px 2px;
}

.contenido .interiores .wpcf7 input,
.contenido .interiores .wpcf7 textarea{
  width: 100%;
  display: block;
}


.contenido .redes{
  width: 90%;

}

.contenido .redes .iframe{
  width: 100%;
}

footer .group #direccion{
  width: 100%;
}

footer .group #desarrollo{
  width: 100%;
}



}
